.cover{
  color: rgb(255, 255, 255);
  position: relative;
  min-height: 680px;
  padding-top:80px;
  background: url("/img/app/header.png") no-repeat scroll 0px 100% / cover transparent;
  
}

.navbar {
    border-radius: 0px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    }

.jumbotron{
  background: none;
}
.jumbotron h1{
  font-size: 63px;
  text-align:center;
  margin:0
}
.jumbotron p.lead {
  font-family:"Georgia";
  text-align:center;
  font-size:36px;
  font-style:italic;
  color:#ccc;

}

div.jumbotron {
    background-color: #fff;
}