<template name="productDetail">
    <div class="container" style="padding-top: 60px">
        <div class="row">
            <div class="col-md-7">
                <img src="/img/{{image}}" alt=""/>
            </div>
            <div class="col-md-5">
                <h1>{{title}}</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque quod fugiat vitae culpa dignissimos, eius suscipit explicabo doloribus, facilis eaque rem accusantium provident iure, excepturi ipsam vero voluptate odit earum.</p>
                <div class="row">
                    <div class="col-md-12">
                        <h3>{{price}} €</h3>
                        <hr/>
                        <p>
                            <a href="#" class="btn btn-success">
                                <i class="glyphicon glyphicon-shopping-cart"></i>
                                Añadir al carrito
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>